*{
    width: 98%;

    margin: 10px auto;
    

}
body{
    height: auto;
}
.threedot{
    display: none;
}
nav {
    display: flex;
    justify-content: space-between;
    
}

.header-box h2{
    font-size: 2rem;
    color: red;
}
.header-box li{
    list-style: none;

}
.header-box a{
    text-decoration: none;
    font-size: 1.2rem;
    
}
.list-of-header-link{
    display: flex;
    justify-content: space-around;
    
}
.header-search{
    background-image: url(./Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    height: 550px;
    max-width: 1170px;
    margin-left: 2.3%;
    border-radius: 16px;
    
}
.header-info{
    margin-top: 106px;
}
.Explore-your-travel{
    color: #FFF;
    font-family: Mulish;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}
.header-search p{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    
}
.header-in{
    width: 80%;
    
    margin: 0 auto;
    display: flex;
    
    flex-direction: column;
    align-items: center;
}

/* ---------------------form  ---------------- */
.selector-option{
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    
}
.inputs{
    margin-top: 3%;
}

.btn-search{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    padding: 5px;
    background-color: #FF5400;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.search{
    padding-right: 0;
    margin-right: 0;
    margin-top: 7%;
}
.find-now{
    padding-left: 0;
    margin-left: 0;
   
}
.search {
    width: 30%;

}
/* main{
    height: auto;
} */
.cardsof2{
    display: flex;
    gap: 49px;
    
}
.box-1{
    width: 1440px;
    height: 640px;
    text-align: justify;
    overflow: auto;
    overflow-x: hidden;
    
}
.box-2 img{
    width: 540px;
    height: 550px;
}
.box-1 h2{
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.box li,span{
    color: rgba(19, 19, 24, 0.70);

    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.read-more-btn{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    margin-left: 7%;
}
.destination{
    text-align: center;
}


            /* image section start  */
.images-collage{
    margin-bottom: 70px;
}
.image-line-1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.image-line-2{
    display: flex;
    gap: 10px;
}
.image-line-2 img{
    height: 286px;
}
.image-line-3{
    display: flex;
}
.img3{
    width: 33.3%;
height: 286px;
}
.img4{
    width: 43.3%;
    height: 286px;
}
.img5{
    width: 23.3%;
}
.img6{
    width: 40%;
    height: 300px;
}
.img6 img{
    height: 100%;
}
.img7{
    width: 60%;
    height: 300px;
}
.img7 img{
    height: 100%;
}
/* Why choose us section  */
.choose{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
 p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    
}
.firstcardgr{
    display: flex;
}
.card{
    width: 573px;
    height: 284px;
}

.card-1{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20); 
    background: rgba(251, 181, 99, 0.05);
}
.card-2{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20); 
    background: rgba(41, 206, 246, 0.05);
}
.card-3{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}
/* deals section start  */
.deals{
    width: 50%;
    margin: 0 auto;
}
.deals h2{
    text-align: center;
}
/* deals section End  */

/* card style start  */

.card-of-budget{
    width: 579px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF; 
    background:rgba(255, 255, 255, 0.80);


    backdrop-filter: blur(2.5px);
}
.book-now{
    width: 150px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
}
.card-on-img{
    background-image: url(./Images/Group\ 39.png);
    width: 1170px;
    height: 500px;
}
.card-of-budget{
    width: 379px;
    height: 189px;
    padding: 98px 77px 63px 50px;
    justify-content: end;
}
/* card end  */

/* newsletter section start  */
.newsletter-Container{
    display: flex;
}
.card-news{
    height: 422px;
}
.newsletter form{
    padding: 10%;
    
}
.newsletter-Container{
    width: 93%;
}
.newsletter{
    width: 40%;
    border: 1px solid tomato;
    
}
.imgcard{
    width: 60%;
    margin-left: 10%;
}
form>h2{
    color: #131318;

    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
}
.secondform input{
    width: 80%;
    height: 52px;
    font-size: 1.2rem;
}
    
/* footer section start  */
footer{
    width: 100%;
    height: 502px;
    background: rgba(19, 19, 24, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;


}
.hero-travel{
    text-align: center;
}
.icon-Of-social{
    width: 20%;
    margin: 0 auto;
}
footer ul{
    display: flex;
    justify-content: center;
}
footer li{
    list-style: none;
}
/* resposive  */
